.search {
    margin: 30px auto;
    padding: 20px;
}

.bookSearch {
    width: 100%;
    padding: 12px 20px;
    font-size: medium;
    border-radius: 15px;
}

.searchLabel {
    font-size: x-large;
}
.searchButton {
    float: right;
    padding: 2px 10px;
    font-size: medium;
    border-radius: 10px;
    background-color: var(--primary-blue);
    color: white;
    cursor: pointer;
}